
<div id="columns">

  <div class="column" draggable="true"><img  src="./assets/images/flo1.jpg" alt="flower1" width="100%" height="100%"></div>
  <div class="column" draggable="true"><img  src="./assets/images/flo2.jpg" alt="flower2" width="100%" height="100%"></div>
  <div class="column" draggable="true"><img  src="./assets/images/flo3.jpg" alt="flower2" width="100%" height="100%"></div> 
  <div class="column" draggable="true"><img  src="./assets/images/flo4.jpg" alt="flower2" width="100%" height="100%"></div> 
  <div class="column" draggable="true"><img  src="./assets/images/flo5.jpg" alt="flower2" width="100%" height="100%"></div>
  <div class="column" draggable="true"><img  src="./assets/images/flo6.jpg" alt="flower2" width="100%" height="100%"></div>
  <div class="column column1"  draggable="true"><img src="./assets/images/flo7.jpg" alt="flower3" width="100%" height="100%"></div>
</div>